<form action="/addCourse" method="POST">
    <input type="text" name="name" id="" placeholder="name">
    <input type="text" name="description" id="" placeholder="description">
    <input type="number" name="price" id="" placeholder="price">
    <button>Add Course</button>

</form>