<h1> Added courses!</h1>
<ul>
   
<% for(let i = 0; i < courses.length; i++) { %>
    <div>
        <p><%=courses[i].name%></p>
        <p><%=courses[i].price%></p>
        
     
        <p>===================</p>
    </div>
<%}%>
</ul>