<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    <p>Not already a member? </p><a href="/register">Register!</a>
 <% if (err) {%>
        <p><%=err%></p>
    <%}else {} %> 
</form>