<h1> Shoppingcart!</h1>
<ul>
   
<% for(let i = 0; i < cartItem.length; i++) { %>
    <div>
        <p><%=cartItem[i].name%></p>
        <p><%=cartItem[i].price%></p>
        
     
        <p>===================</p>
    </div>
<%}%>
</ul>